<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ artist_name }} - {{ album_name }}</title>
</head>
<body>
<h1>{{ artist_name }} - {{ album_name }}</h1>
<p>{{ album_info }}</p>
<ul>
    {% for one_song in song_list %}
        <li><a href="/artist/{{ artist_name }}/song/{{ one_song['song_name'] }}">{{ one_song['song_name'] }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
