<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<p>Search request - {{ search_string }}</p>
<p>Result in Artist</p>
<ul>
    {% for one_artist in artist_list %}
        <li>{{ one_artist['artist_name'] }}</li>
    {% endfor %}
</ul>
<p>Result in Album</p>
<ul>
    {% for one_album in album_list %}
        <li>{{ one_album['album_name'] }}</li>
    {% endfor %}
</ul>
<p>Result in Song</p>
<ul>
    {% for one_song in song_list %}
        <li>{{ one_song['song_name'] }}</li>
    {% endfor %}
</ul>
</body>
</html>