<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ artist_name }} - {{ song_name }}</title>
</head>
<body>
<p>{{ artist_name }} - {{ song_name }}</p>
<p>{{ song_text }}</p>
</body>
</html>